AUTH_SECRET="secret"

# Data from Google Clound Console
AUTH_GOOGLE_ID="....apps.googleusercontent.com"
AUTH_GOOGLE_SECRET="secret"

# App URL
AUTH_URL="http://localhost:3000/api/auth"
AUTH_TRUST_HOST=true

POSTGRES_USER="myuser"
POSTGRES_PASSWORD="mypassword"
POSTGRES_DB="mydb"

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}"
S3_ENDPOINT="http://localhost:9000"
S3_REGION="eu-central-1"
S3_BUCKET_NAME="warehouse"
S3_USER="admin"
S3_PASSWORD="supersecretpassword"
S3_ACCESS_KEY="app-user"
S3_SECRET_KEY="app-password-123"

# Web Push Notifications VAPID Keys
NEXT_PUBLIC_VAPID_PUBLIC_KEY="public-vapid-key"
VAPID_PRIVATE_KEY="private-vapid-key"
VAPID_EMAIL="mailto:email@example.com"