.loginBox {
    height: 600px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    margin-top: 50vh;
    text-align: center;
    padding: 10px;
    vertical-align: text-top;
}
.loginBox form {
    height: max-content;
    width: 100%;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);
    margin-top: 280px;
}
.loginBox h1 {
    margin-bottom: 50px;
}
.loginButton {
    width: 70%;
    height: 50px;
    display: inline-block;
    background-color: transparent;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    border: 2px solid var(--border-muted)
}
.loginButton:hover {
    background-color: var(--bg-light);
}
.loginButton:active {
    background-color: var(--bg);
}
.loginButton h3 {
    display: inline;
    vertical-align: text-top;
}
.loginButton img {
    height: 80%;
    background-color: transparent;
    vertical-align: middle;
    margin-right: 10px;
}