.TemplatesPage {
    width: calc(82vw - 100px);
    height: calc(100vh - 100px);
    margin-left: 18vw;
    padding: 50px;
    overflow-y: auto;
}
.TemplatesPage h3, .TemplatesPage a button {
    width: min-content;
    display: inline-block;
}
.TemplatesPage a button {
    float: right;
    background-color: var(--primary);
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.TemplatesPage a button:hover {
    filter: brightness(90%);
}
.TemplatesPage a button:active {
    background-color: var(--secondary);
    outline: 1px solid var(--border);
}
.templateElement {
    width: calc(100% - 24px);
    margin-top: 20px;
    padding: 10px;
    border: 2px solid var(--border-muted);
    background-color: var(--bg-light);
}
.templateElement span {
    padding: 5px;
    background-color: var(--secondary);
    margin-left: 10px;
    border-radius: 5px;
}
.templateElement button {
    float: right;
    background-color: transparent;
    height: 50px;
    width: 50px;
    border: 2px solid var(--border);
    border-radius: 5px;
}
.templateElement button:active {
    background-color: var(--danger);
}