.wrapper {
    width: 62vw;
    height: 95vh;
    margin-left: 18vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vh;
}
.dialog {
    width: 300px;
    height: 300px;

}
.summary {
    width: 62vw;
    height: 80px;
    background-color: var(--bg-light);
    border-radius: 5px;
    border: 1px solid var(--border-muted);
    display: flex;
    align-items: center;
    position: relative;
}
.summary span {
    font-weight: 700;
    font-size: 25px;
}
.summary p {
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--success);
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px
}
.summary button {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    border: none;
}
.summary button:hover {
    outline: 2px solid var(--border)
}
.summary button:active {
    filter: blur(2px);
}