@media (prefers-color-scheme: light) {
    :root {
        --bg-dark: hsl(205 22% 90%);
        --bg: hsl(205 46% 95%);
        --bg-light: hsl(205 100% 100%);
        --text: hsl(206 63% 4%);
        --text-muted: hsl(205 14% 28%);
        --highlight: hsl(205 100% 100%);
        --border: hsl(205 8% 50%);
        --border-muted: hsl(205 11% 62%);
        --primary: hsl(198 100% 20%);
        --secondary: hsl(32 100% 20%);
        --danger: hsl(9 21% 41%);
        --warning: hsl(52 23% 34%);
        --success: hsl(147 19% 36%);
        --info: hsl(217 22% 41%);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-dark: hsl(209 52% 1%);
        --bg: hsl(205 33% 4%);
        --bg-light: hwb(203 7% 89%);
        --text: hsl(205 93% 95%);
        --text-muted: hsl(205 15% 70%);
        --highlight: hsl(205 10% 39%);
        --border: hsl(205 14% 28%);
        --border-muted: hsl(205 20% 18%);
        --primary: hsl(204 74% 68%);
        --secondary: hsl(27 65% 66%);
        --danger: hsl(9 26% 64%);
        --warning: hsl(52 19% 57%);
        --success: hsl(146 17% 59%);
        --info: hsl(217 28% 65%);
    }
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  font-family: var(--font-oxanium);
  color: var(--text);
  background: var(--bg-dark);
  font-weight: 500;
}


* {
  padding: 0;
  margin: 0;
  color: var(--text)
}
